@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Paleta-principal{
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.paleta-verde{
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container{
    width: 450px;
    height: 180px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.cores{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms ease-in-out;
    cursor: pointer;
}

.cores:first-child{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.cores:last-child{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.textCor{
    opacity: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 600;
    transition: 500ms ease-in-out;
}

.divisor{
    width: 100vw;
    height: 60px;
}

.switch{
    appearance: none;
    position: relative;
    display: flex;
    align-items: center;
    width: 40px;
    height: 20px;
    border-radius: 40px;
    background-color: #b4b4b1;
    box-shadow: inset 0 0 4px #747472;
    transition: 200ms ease-in-out;
    cursor: pointer;
}

.switch:checked{
    background-color: #00b4d8;
    box-shadow: inset 0 0 4px #004b5a;
}

.switch:before{
    content: '';
    position: absolute;
    left: 5%;
    right: auto;
    width: 40%;
    height: 80%;
    background-color: #edf2f4;
    border-radius: 40px;
    transition: 300ms ease-in-out;
}

.switch:checked:before{
    left: 55%;
}




